@import 'fonts_ge';
@import 'variables';

header .top .center .content .phone a{
	font-family: 'Roboto _GEO Mt';
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}

header .bottom .center .right nav ul li a{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 14px;
	line-height: 14px;
}

header .bottom .center .right .languages ul li a{
	font-family: 'Roboto _GEO Mt';
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.home main .welcome .center .slogan{
	font-family: 'DM Luarsab Andronikashvili';
	font-size: 110px;
	line-height: 110px;
}

.home main .welcome .center .left h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.home main .welcome .center .left h1{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 52px;
	font-weight: bold;
	text-transform: uppercase;
}

.home main .welcome .center .left .mainBtn{
	font-family: 'Roboto _GEO Mt';
	font-size: 14px;
	line-height: 58px;
	font-weight: bold;
}