@import 'fonts_ge';
@import 'variables';

header .top .center .content .phone a{
	font-family: 'Roboto _GEO Mt';
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}

header .bottom .center .right nav ul li a{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 14px;
	line-height: 14px;
}

header .bottom .center .right .languages ul li a{
	font-family: 'Roboto _GEO Mt';
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.home main .welcome .center .slogan{
	font-family: 'DM Luarsab Andronikashvili';
	font-size: 110px;
	line-height: 110px;
}

.home main .welcome .center .left h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.home main .welcome .center .left h1{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 52px;
	font-weight: bold;
	text-transform: uppercase;
}

.home main .welcome .center .left .mainBtn{
	font-family: 'Roboto _GEO Mt';
	font-size: 14px;
	line-height: 58px;
	font-weight: bold;
}

.center .sec-title{
	font-family: 'Roboto _GEO Mt';
	font-size: 40px;
	line-height: 40px;
	font-weight: bold;
}

.home main .about-us .center .content .text p{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	line-height: 22px;
}

.home main .about-us .center .content .text a{
	font-family: 'Roboto _GEO Mt';
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
}

.home main .about-us .center .content .products .wrapper .item .box p{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 14px;
	line-height: 16px;
}

.home main .market-map .center .map-box .addresses ul li a{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	line-height: 16px;
}

.home main .market-map .center .map-box .addresses .see-on-map{
	font-family: 'Roboto _GEO Mt';
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
}

.home main .vacancy .center .right h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 40px;
	line-height: 44px;
	font-weight: bold;
}

.home main .vacancy .center .right a{
	font-family: 'Roboto _GEO Mt';
	font-size: 14px;
	line-height: 58px;
	font-weight: bold;
}

.home main .news .news-box #owl-news-slider .item a .text h3{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 16px;
	line-height: 16px;
}

.home main .news .news-box #owl-news-slider .item a .text p{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	line-height: 18px;
}

.home main .news .news-box #owl-news-slider .item a .image-box span{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	line-height: 20px;
}

.home main .news .all-news{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 16px;
	line-height: 20px;
}

footer h3{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 16px;
	line-height: 20px;
}

footer p{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	line-height: 20px;
}

footer p a{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	line-height: 16px;
}

.inner-page main .market-map .center .map-box .right .top ul li a{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 14px;
	line-height: 40px;
}

.discount-page .content-box .content h3{
	font-family: 'Roboto _GEO Mt';
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
}

.discount-page .content-box .content p{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	line-height: 22px;
}

.production-page main .content-box .center .backlink-title span a{
	font-family: 'Roboto _GEO Mt';
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
}

.production-page main .content-box .center .production-list .product p{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 16px;
	line-height: 16px;
}

.production-page main .content-box .center .pagination ul li a{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 14px;
	line-height: 24px;
}

.about-page .content-box .content h3{
	font-family: 'Roboto _GEO Mt';
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
}

.about-page .content-box .content p{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	line-height: 22px;
}

.about-page main .content-box .center .data-boxes .custom-row .data .content .number{
	font-family: 'Roboto _GEO Mt';
	font-size: 54px;
	line-height: 54px;
	font-weight: bold;
}

.about-page main .content-box .center .data-boxes .custom-row .data .content p{
	font-family: 'Roboto _GEO Mt';
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
}