@import 'variables';

::selection{
	background:$color1;
	color:$color2;
}

::-moz-selection{
	background:$color1;
	color:$color2;
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Add background color to the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: $mainRed;
}

/* Add hover effect to the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: $mainRed;
}

/* Add color to the scrollbar track */
::-webkit-scrollbar-track {
  background-color: $color6;
}

.center{
	margin: 0 auto;
	width: $center;	
}

.clearfix{
	clear: both;
}

.imageHide{
	display: none;
}

header{
	@include makeNull;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

header .top{
	@include makeNull;
	height: 28px;
	background-color: $color2;
}

header .top .center .content{
	@include makeNull;
	float: right;
}

header .top .center .content .social{
	@include makeNull;
	list-style-type: none;
	float: left;
}

header .top .center .content .social li{
	@include makeNull;
	display: block;
	float: left;
	margin-right: 12px;
}

header .top .center .content .social li a{
	@include makeNull;
	display: block;
	width: 18px;
	height: 18px;
	text-decoration: none;
	text-indent: -9999px;
	position: relative;
	margin-top: 5px;
}

header .top .center .content .social li a::after{
	@include makeNull;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $color3;
	border-radius: 100%;
	@include trans('background-color', '600ms');
}

header .top .center .content .social li a:hover::after{
	background-color: $mainRed;
}

header .top .center .content .social li a.facebook::after{
	@include sprite('-1px -13px');
}

header .top .center .content .social li a.youtube::after{
	@include sprite('-24px -13px');
}

header .top .center .content .social li a.instagram::after{
	@include sprite('-46px -13px');
}

header .top .center .content .line{
	@include makeNull;
	width: 1px;
	height: 20px;
	float: left;
	margin-top: 4px;
	background-color: $color4;
	margin-right: 12px;
}

header .top .center .content .phone{
	@include makeNull;
	height: 20px;
	float: left;
	margin-top: 4px;
}

header .top .center .content .phone a{
	@include makeNull;
	display: block;
	position: relative;
	height: 20px;
	padding-left: 28px;
	color: $color5;
	text-decoration: none;
	@include trans('color', '600ms');
}

header .top .center .content .phone a:hover{
	color: $mainRed;
}

header .top .center .content .phone a::before{
	content: "";
	width: 18px;
	height: 18px;
	position: absolute;
	top: calc(50% - 9px);
	left: 0;
	background-color: $mainRed;
	border-radius: 100%;
}

header .top .center .content .phone a::after{
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: calc(50% - 5px);
	left: 4.5px;
	background-color: $color2;
	@include sprite('-1px -1px');
}

header .bottom{
	@include makeNull;
	width: 100%;
	height: 88px;
	background-color: $mainRed;
}

header .bottom .center .logo{
	@include makeNull;
	display: block;
	text-decoration: none;
	text-indent: -9999px;
	width: 218px;
	height: 46px;
	float: left;
	margin-top: 21px;
	@include sprite('-4px -41px', 'true');
	@include trans('opacity', '600ms');
}

header .bottom .center .logo:hover{
	opacity: 0.8;
}

header .bottom .center .right{
	@include makeNull;
	float: right;
}

header .bottom .center .right nav{
	@include makeNull;
	float: left;
	height: 88px;
	display: flex;
	align-items: center;
}

header .bottom .center .right nav ul{
	@include makeNull;
	list-style-type: none;
}

header .bottom .center .right nav ul li{
	@include makeNull;
	display: block;
	float: left;
	margin-right: 24px;
}

header .bottom .center .right nav ul li a{
	@include makeNull;
	display: block;
	position: relative;
	text-decoration: none;
	color: $color2;
}

header .bottom .center .right nav ul li a::after{
	content: "";
	width: 0px;
	height: 3px;
	background-color: $color3;
	position: absolute;
	left: 0;
	bottom: -9px;
	@include trans('width', '600ms');
}

header .bottom .center .right nav ul li a.active::after{
	width: 26px;
}

header .bottom .center .right nav ul li a:hover::after{
	width: 26px;
}

header .bottom .center .right nav ul li ul{
	display: none;
}

header .bottom .center .right .languages{
	@include makeNull;
	float: left;
	height: 88px;
	display: flex;
	align-items: center;
}

header .bottom .center .right .languages ul{
	@include makeNull;
	list-style-type: none;
}

header .bottom .center .right .languages ul li{
	@include makeNull;
	display: block;
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	position: relative;
}

header .bottom .center .right .languages ul li::after{
	content: "";
	width: 1px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: $color3;
}

header .bottom .center .right .languages ul li:last-child{
	margin-right: 0px;
	padding-right: 0px;
}

header .bottom .center .right .languages ul li:last-child::after{
	content: none;
}

header .bottom .center .right .languages ul li a{
	@include makeNull;
	display: block;
	text-decoration: none;
	color: $color2;
	@include trans('color', '600ms');
}

header .bottom .center .right .languages ul li a.active{
	color: $color5;
}

header .bottom .center .right .languages ul li a:hover{
	color: $color5;
}

.home main{
	@include makeNull;
	margin-top: 116px;
	position: relative;
}

.home main .welcome{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.home main .welcome .leaf{
	@include makeNull;
	width: 376px;
	height: 192px;
	text-indent: -9999px;
	position: absolute;
	top: 8px;
	left: -112px;
	background-image: url('../img/leaf.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	transform: rotate(25deg);
}

.home main .welcome .wave{
	@include makeNull;
	width: 200%;
	height: 520px;
	text-indent: -9999px;
	position: absolute;
	left: 0;
	bottom: -310px;
	background-image: url('../img/wave.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	z-index: 1;
	pointer-events: none;
	animation: wave linear 50s infinite;
}

.home main .welcome .center {
	position: relative;
	height: 100%;
	z-index: 2;
}

.home main .welcome .center .left{
	@include makeNull;
	width: 560px;
	height: 100%;
	float: left;
	position: relative;
	transform: translateX(-400px);
	@include trans('transform', '1200ms');
}

.home main .welcome.g-visible .center .left{
	transform: translateX(0px);
}

.home main .welcome .center .left .slogan{
	@include makeNull;
	max-width: 440px;
	float: left;
	color: $color6;
	opacity: 0.15;
	margin-top: 50px;
	pointer-events: none;
}

.home main .welcome .center .left h2{
	@include makeNull;
	margin-top: 43px;
	width: 295px;
	clear: both;
	float: left;
	color: $color5;
}

.home main .welcome .center .left h1{
	@include makeNull;
	margin-top: 30px;
	float: left;
	clear: both;
	color: $color7;
}

.home main .welcome .center .left .mainBtn{
	@include makeNull;
	float: left;
	margin-top: 45px;
	height: 58px;
	background-color: $mainRed;
	padding: 0 80px 0 18px;
	position: relative;
	border-radius: 29px;
	color: $color2;
	@include trans('background-color', '600ms');
}

.home main .welcome .center .left .mainBtn:hover{
	background-color: $color3;
}

.home main .welcome .center .left .mainBtn em{
	@include makeNull;
	width: 46px;
	height: 46px;
	font-style: normal;
	position: absolute;
	top: calc(50% - 23px);
	right: 9px;
	background-color: $color2;
	border-radius: 100%;
	@include dropShadow('0px', '3px', '6px', '0px', 'rgba(0,0,0,0.16)');
	@include trans('right', '600ms');
}

.home main .welcome .center .left .mainBtn em::after{
	@include makeNull;
	content: "";
	width: 22px;
	height: 10px;
	position: absolute;
	left: calc(50% - 11px);
	top: calc(50% - 5px);
	@include sprite('-16px 0px');
	background-color: $mainRed;
}

.home main .welcome .center .left .mainBtn:hover em{
	right: 0;
}

.home main .welcome .center .left .bubles{
	@include makeNull;
	width: 100%;
	height: 110px;
	position: absolute;
	bottom: 30px;
	left: 0;
}

.home main .welcome .center .left .bubles .buble{
	@include makeNull;
	border: solid 1px $color8;
	position: absolute;
	border-radius: 100%;
	animation: moveBubble linear infinite;
}

.home main .welcome .center .left .bubles .buble.b1{
	width: 14px;
	height: 14px;
	animation-duration: 8s;
  animation-delay: 0s;
  top: 0;
  left: 0;
}

.home main .welcome .center .left .bubles .buble.b2{
	width: 12px;
	height: 12px;
	animation-duration: 10s;
  animation-delay: 2s;
  bottom: 0;
  left: 80px;
}

.home main .welcome .center .left .bubles .buble.b3{
	width: 10px;
	height: 10px;
	animation-duration: 12s;
  animation-delay: 4s;
  top: 30px;
  right: 80px;
}

.home main .welcome .center .left .bubles .buble.b4{
	width: 12px;
	height: 12px;
	animation-duration: 14s;
  animation-delay: 6s;
  top: 0;
  right: 0;
}

.home main .welcome .center .right{
	@include makeNull;
	width: calc(100% - 560px);
	float: right;
}

.home main .welcome .center .right .fruits{
	@include makeNull;
	width: 1057px;
	height: 431px;
	position: absolute;
	top: -54px;
	right: -232px;
	text-indent: -9999px;
	background-image: url('../img/fruits-min.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transform: translateX(400px);
	@include trans('transform', '1200ms');
}

.home main .welcome.g-visible .center .right .fruits{
	transform: translateX(0px);
}

.home main .welcome .center .right .bag{
	@include makeNull;
	width: 820px;
	height: 700px;
	position: absolute;
	right: -70px;
	bottom: 30px;
	text-indent: -9999px;
	background-image: url('../img/bag2-min.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: contain;
	transform: translateX(1000px);
	@include trans('transform', '1200ms');
}

.home main .welcome.g-visible .center .right .bag{
	transform: translateX(0px);
}

.home main .welcome .center .right .bubles{
	@include makeNull;
	width: 150px;
	height: 100px;
	position: absolute;
	top: 215px;
	right: -135px;
}

.home main .welcome .center .right .bubles .buble{
	@include makeNull;
	border: solid 1px $color8;
	position: absolute;
	border-radius: 100%;
	animation: moveBubble linear infinite;
}

.home main .welcome .center .right .bubles .buble.b1{
	width: 13px;
	height: 13px;
	animation-duration: 8s;
  animation-delay: 0s;
  bottom: 0;
  left: 0;
}

.home main .welcome .center .right .bubles .buble.b2{
	width: 10px;
	height: 10px;
	animation-duration: 10s;
  animation-delay: 2s;
  top: 0;
  right: 35px;
}

.home main .welcome .center .right .bubles .buble.b3{
	width: 7px;
	height: 7px;
	animation-duration: 12s;
  animation-delay: 4s;
  top: 35px;
  right: 0px;
}

.home main .about-us{
	@include makeNull;
}

.home main .center h2.sec-title{
	@include makeNull;
	padding: 80px 0 20px 0;
	display: inline-block;
	color: $color3;
	position: relative;
}

.home main .center h2.sec-title::after{
	@include makeNull;
	content: "";
	width: 50px;
	height: 30px;
	position: absolute;
	top: 85px;
	right: -50px;
	@include sprite('-236px 0px', 'true');
	transform: rotate(-45deg);
}

.home main .about-us .center .content{
		@include makeNull;
}

.home main .about-us .center .content .image-box{
		@include makeNull;
		width: 536px;
		height: 330px;
		float: left;
		position: relative;
		border-radius: 20px;
		overflow: hidden;
}

.home main .about-us .center .content .image-box .image{
		@include makeNull;
		width: 100%;
		height: 100%;
		position: absolute;
		background-size: cover;
		background-position: center;
		@include trans('transform', '600ms');
}

.home main .about-us .center .content .image-box:hover .image{
	transform: scale(1.1);
}

.home main .about-us .center .content .text{
	@include makeNull;
	width: 670px;
	float: right;
}

.home main .about-us .center .content .text p{
	@include makeNull;
	margin-bottom: 20px;
	color: $color9;
}

.home main .about-us .center .content .text a{
	@include makeNull;
	text-decoration: none;
	display: inline-block;
	position: relative;
	color: $mainRed;
	padding-right: 30px;
}

.home main .about-us .center .content .text a::after{
	@include makeNull;
	content: "";
	width: 22px;
	height: 10px;
	position: absolute;
	right: 0;
	top: calc(50% - 5px);
	@include sprite('-16px 0px');
	background-color: $mainRed;
	@include trans('right', '600ms');
}

.home main .about-us .center .content .text a:hover::after{
	right: -15px;
}

.home main .about-us .center .content .products{
	@include makeNull;
	margin: 75px 0 0 0;
	width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	padding-bottom: 45px;
	float: left;
	white-space: nowrap;
}

.home main .about-us .center .content .products .wrapper{
	@include makeNull;
	display: flex;
	flex-wrap: wrap;
}

.home main .about-us .center .content .products .wrapper .item{
	@include makeNull;
	white-space: normal;
	user-select: none;
}

.home main .about-us .center .content .products .wrapper .item .box{
	@include makeNull;
	width: calc(100% - 15px);
	height: 100%;
	margin-right: 15px;
	border: solid 1px $color6;
	border-radius: 20px;
	white-space: normal;
	background-color: $color2;
	@include trans('background-color, border-color', '600ms');
}

.home main .about-us .center .content .products .wrapper .item .box:hover{
	border-color: $color10;
	background-color: $color10;
}

.home main .about-us .center .content .products .wrapper .item .box .icon{
	@include makeNull;
	width: 100%;
	height: 70px;
	position: relative;
	margin-top: 50px;
	margin-bottom: 44px;
}

.home main .about-us .center .content .products .wrapper .item .box .icon::before{
	content: "";
	width: 80px;
	height: 100%;
	position: absolute;
	top: 0;
	left: calc(50% - 40px);
	background-color: $color6;
	@include trans('background-color', '600ms');
}

.home main .about-us .center .content .products .wrapper .item:hover .box .icon::before{
	background-color: $mainRed;
}

.home main .about-us .center .content .products .wrapper .item .box .icon1::before{
	@include sprite('6px -107px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon2::before{
	@include sprite('-81px -100px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon3::before{
	@include sprite('-185px -102px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon4::before{
	@include sprite('-285px -104px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon5::before{
	@include sprite('-384px -105px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon6::before{
	@include sprite('-1px -193px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon7::before{
	@include sprite('-96px -193px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon8::before{
	@include sprite('-191px -190px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon9::before{
	@include sprite('-290px -190px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon10::before{
	@include sprite('-384px -196px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon11::before{
	@include sprite('3px -288px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon12::before{
	@include sprite('-97px -288px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon13::before{
	@include sprite('-197px -284px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon14::before{
	@include sprite('-288px -287px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon15::before{
	@include sprite('-385px -287px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon15::before{
	@include sprite('-385px -287px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon16::before{
	@include sprite('-293px -9px');
}

.home main .about-us .center .content .products .wrapper .item .box .icon::after{
	content: "";
	width: 26px;
	height: 1px;
	position: absolute;
	bottom: -22px;
	left: calc(50% - 13px);
	background-color: $color6;
}

.home main .about-us .center .content .products .wrapper .item .box p{
	@include makeNull;
	color: $color9;
	text-align: center;
	padding: 0 5px;
	margin-bottom: 30px;
	word-wrap: break-word;
}

.home main .about-us .center .content .buttons{
	@include makeNull;
	width: 100%;
	height: 46px;
	float: left;
	margin-top: -25px;
	pointer-events: none;
}

.home main .about-us .center .content .buttons a{
	@include makeNull;
	width: 46px;
	height: 46px;
	display: block;
	text-decoration: none;
	text-indent: -9999px;
	background-color: $color2;
	@include dropShadow('0px', '3px', '6px', '0px', 'rgba(0,0,0,0.16)');
	position: relative;
	border-radius: 100%;
	pointer-events:all;
	@include trans('background-color', '600ms');
}

.home main .about-us .center .content .buttons a::after{
	@include makeNull;
	content: "";
	width: 22px;
	height: 10px;
	position: absolute;
	left: calc(50% - 11px);
	top: calc(50% - 5px);
	@include sprite('-16px 0px');
	background-color: $mainRed;
	@include trans('right', '600ms');
	@include trans('background-color', '600ms');
}

.home main .about-us .center .content .buttons a:first-child{
	float: left;
}

.home main .about-us .center .content .buttons a:first-child::after{
	transform: rotate(180deg);
}

.home main .about-us .center .content .buttons a:last-child{
	float: right;
}

.home main .about-us .center .content .buttons a:hover{
	background-color: $mainRed;
}

.home main .about-us .center .content .buttons a:hover::after{
	background-color: $color2;
}

.home main .market-map{
	@include makeNull;
}

.home main .market-map .center .map-box{
	@include makeNull;
	width: 100%;
	height: 500px;
	border-radius: 20px;
	border: solid 1px $color6;
	overflow: hidden;
}

.home main .market-map .center .map-box .addresses{
	@include makeNull;
	width: calc(100% - 965px);
	float: left;
}

.home main .market-map .center .map-box .addresses ul{
	@include makeNull;
	list-style-type: none;
	padding: 45px 0 0 45px;
}

.home main .market-map .center .map-box .addresses ul li{
	@include makeNull;
	display: block;
	margin-bottom: 35px;
}

.home main .market-map .center .map-box .addresses ul li:last-child{
	margin-bottom: 0px;
}

.home main .market-map .center .map-box .addresses ul li a{
	@include makeNull;
	display: block;
	text-decoration: none;
	padding-left: 25px;
	color: $color5;
	position: relative;
	@include trans('color', '600ms');
}

.home main .market-map .center .map-box .addresses ul li a::before{
	content: "";
	width: 12px;
	height: 24px;
	position: absolute;
	left: 0;
	bottom: 0;
	@include sprite('-79px -3px');
	background-color: $color5;
	@include trans('background-color', '600ms');
}

.home main .market-map .center .map-box .addresses ul li a:hover{
	color: $mainRed;
}

.home main .market-map .center .map-box .addresses ul li a:hover::before{
	background-color: $mainRed;
}

.home main .market-map .center .map-box .addresses .see-on-map{
	@include makeNull;
	display: inline-block;
	text-decoration: none;
	position: relative;
	color: $mainRed;
	margin-top: 50px;
	padding-right: 30px;
	margin-left: 70px;
}

.home main .market-map .center .map-box .addresses .see-on-map::after{
	@include makeNull;
	content: "";
	width: 22px;
	height: 10px;
	position: absolute;
	right: 0px;
	top: calc(50% - 5px);
	@include sprite('-16px 0px');
	background-color: $mainRed;
	@include trans('right', '600ms');
	@include trans('background-color', '600ms');
}

.home main .market-map .center .map-box .right{
	@include makeNull;
	width: 965px;
	height: 500px;
	float: right;
}

.home main .market-map .center .map-box .right .map{
	@include makeNull;
	width: 965px;
	height: 500px;
	background-size: cover;
	background-position: center;
	text-indent: -9999px;
}

.home main .vacancy{
	@include makeNull;
	margin-top: 75px;
	position: relative;
}

.home main .vacancy .wave{
	@include makeNull;
	width: 100%;
	height: 260px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-size: cover;
	background-position: left bottom;
	background-image: url('../img/wave2.svg');
	z-index: 1;
	pointer-events: none;
}

.home main .vacancy .center{
	position: relative;
	z-index: 2;
	min-height: 300px;
}

.home main .vacancy .center::before{
	@include makeNull;
	content: "";
	width: 707px;
	height: 360px;
	position: absolute;
	left: -121px;
	bottom: -41px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../img/papers.png');
	pointer-events: none;
	z-index: 2;
}

.home main .vacancy .center .right{
	@include makeNull;
	width: 410px;
	position: relative;
	float: right;
	z-index: 3;
	margin-right: 209px;
	margin-top: 100px;
}

.home main .vacancy .center .right h2{
	@include makeNull;
	color: $color2;
}

.home main .vacancy .center .right a{
	@include makeNull;
	display: inline-block;
	text-decoration: none;	
	height: 58px;
	background-color: $mainRed;
	padding: 0 80px 0 18px;
	position: relative;
	border-radius: 29px;
	color: $color2;
	@include trans('background-color, color', '600ms');
	margin-top: 25px;
}


.home main .vacancy .center .right a:hover{
	background-color: $color11;
	color: $color7;
}

.home main .vacancy .center .right a em{
	@include makeNull;
	width: 46px;
	height: 46px;
	font-style: normal;
	position: absolute;
	top: calc(50% - 23px);
	right: 9px;
	background-color: $color2;
	border-radius: 100%;
	@include dropShadow('0px', '3px', '6px', '0px', 'rgba(0,0,0,0.16)');
	@include trans('right', '600ms');
}

.home main .vacancy .center .right a em::after{
	@include makeNull;
	content: "";
	width: 22px;
	height: 10px;
	position: absolute;
	left: calc(50% - 11px);
	top: calc(50% - 5px);
	@include sprite('-16px 0px');
	background-color: $mainRed;
}

.home main .vacancy .center .right a:hover em{
	right: 0;
}

.home main .news{
	@include makeNull;
	background-color: $color11;
	margin-bottom: 260px;
	position: relative;
}

.home main .news::after{
	content: "";
	width: 100%;
	height: 260px;
	position: absolute;
	left: 0;
	bottom: -260px;
	background-image: url('../img/bottom.wave.svg');
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
}

.home main .news .news-box{
	@include makeNull;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.home main .news .news-box #owl-news-slider{
	@include makeNull;
	width: calc(100% + 270px);
}

.home main .news .news-box #owl-news-slider .item{
	@include makeNull;
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 453px;
}

.home main .news .news-box #owl-news-slider .owl-item.last-active .item::after{
	content: "";
	@include makeNull;
	width: 100%;
	height: calc(100% - 63px);
	position: absolute;
	left: 0;
	top: 20px;
	background-color: $color4;
	z-index: 101;
	opacity: 0.77;
	border-radius: 20px;
}

.home main .news .news-box #owl-news-slider .item a{
	@include makeNull;
	display: block;
	background-color: $color2;
	border-radius: 20px;
	padding: 7px;
	text-decoration: none;
	position: relative;
	z-index: 100;
	height: 390px;
	transform: translateY(20px);
	@include trans('height, transform', '600ms');
}

.home main .news .news-box #owl-news-slider .item a.hovered{
	transform: translateY(0px);
	height: 430px;
	@include dropShadow('2px', '2px', '15px', '0px', 'rgba(233,46,45,0.10)');
}

.home main .news .news-box #owl-news-slider .item a .image-box{
	@include makeNull;
	width: 100%;
	height: 222px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	@include trans('height', '600ms');
}

.home main .news .news-box #owl-news-slider .item a.hovered .image-box{
	height: 251px;
}

.home main .news .news-box #owl-news-slider .item a .button-arrow{
	@include makeNull;
	width: 46px;
	height: 46px;
	position: absolute;
	bottom: -23px;
	left: -500px;
	border-radius: 100%;
	background-color: $mainRed;
	z-index: 10;
	@include trans('left', '600ms');
}

.home main .news .news-box #owl-news-slider .item a.hovered .button-arrow{
	left: calc(50% - 23px);
}

.home main .news .news-box #owl-news-slider .item a.hovered .button-arrow::after{
	@include makeNull;
	content: "";
	width: 22px;
	height: 10px;
	position: absolute;
	left: calc(50% - 11px);
	top: calc(50% - 5px);
	@include sprite('-16px 0px');
	background-color: $color2;
}

.home main .news .news-box #owl-news-slider .item a .image-box img{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: 1;
}

.home main .news .news-box #owl-news-slider .item a .image-box .cover{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: $color5;
	mix-blend-mode: multiply;
	opacity: 0.4;
}

.home main .news .news-box #owl-news-slider .item a .image-box span{
	@include makeNull;
	margin: 15px auto;
	display: block;
	width: 105px;
	background-color: $color3;
	border-radius: 11px;
	color: $color7;
	text-align: center;
	position: relative;
	z-index: 3;
}

.home main .news .news-box #owl-news-slider .item a .text{
	@include makeNull;
	padding: 25px 20px;
}

.home main .news .news-box #owl-news-slider .item a .text h3{
	@include makeNull;
	color: $color5;
	margin-bottom: 15px;
	text-align: center;
}

.home main .news .news-box #owl-news-slider .item a .text p{
	@include makeNull;
	color: $color6;
	text-align: center;
}

@keyframes moveBubble {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(50px) translateX(25px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}

@keyframes wave{
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(0%);
	}
}